<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>模板标签说明</title>
</head>
<body style="width:960px; margin:auto">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><th colspan="2" style="font-size: 2em">模板标签说明</th></tr>
</table>
<br/>

<table name="var-web" border="1" cellpadding="5px" cellspacing="0" width="100%">
<tr><th colspan="2">网站变量</th></tr>
<tr><td width="300px">&lt;!--{web.path}--&gt;</td><td>网站根网址</td></tr>
    <tr><td width="300px">&lt;!--{web.title}--&gt;</td><td>网站标题</td></tr>
</table>
<br/>

<table name="var-template" border="1" cellpadding="5px" cellspacing="0" width="100%">
<tr><th colspan="2">模板变量</th></tr>
<tr><td width="300px">&lt;!--{template.名称}--&gt;</td><td>嵌套指定名称的模板</td></tr>
</table>
<br/>


<table name="var-paper" border="1" cellpadding="5px" cellspacing="0" width="100%">
    <tr><th colspan="2">全局变量</th></tr>
    <tr><td width="300px">标签结构</td><td>&lt;!--{global.变量名}--&gt;</td></tr>
    <tr><td colspan="2">使用说明：
        <br/>在模板中调用全局变量，目前只支持变量名，不支持数据名、对象名等。
    </td></tr>
</table>
<br/>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr><th colspan="2" style="font-size: 2em">高级标签说明</th></tr>
</table>
<br/>

<table name="var-paper" border="1" cellpadding="5px" cellspacing="0" width="100%">
    <tr><th colspan="2">循环标签</th></tr>
    <tr><td width="300px">标签结构</td><td>&lt;!--[list={数据:参数1,参数2,参数3,参数4}]--&gt;&lt;!--%row.数据属性%--&gt;&lt;!--[/list]--&gt;</td></tr>
    <tr><td colspan="2">使用说明：
        <br/>1、数据：可以为模型名等。
        <br/><br/>2、标签中间可以写模板代码，模板代码中使用“row.数据属性”来调用该数据的某个属性值，模板代码中可以包含基本的模板变量。
        <br/><br/>3、该模板标签必须闭合。
    </td></tr>
</table>
<br/>

<table name="var-paper" border="1" cellpadding="5px" cellspacing="0" width="100%">
    <tr><th colspan="2">代码标签</th></tr>
    <tr><td width="300px">标签结构</td><td>&lt;!--[code={php}]--&gt;&lt;!--[/code]--&gt;</td></tr>
    <tr><td colspan="2">使用说明：
        <br/>在标签中间写入PHP代码，便可执行。便签中不要使用echo等输出语句，输出使用：$code_ret.='你要输出的内容';
        <br/><span style="color: #dd1144">此标签会受网站系统影响，且安全性差，慎用！！！</span>
    </td></tr>
</table>
<br/>


<table name="var-paper" border="1" cellpadding="5px" cellspacing="0" width="100%">
    <tr><th colspan="2">模板解析顺序</th></tr>
    <tr><td colspan="2">模板变量——网站变量——全局变量——古画变量——文献变量——高级标签
    </td></tr>
</table>
<br/>
</body>
</html>